body {
  height: 60vh;
  margin: 0;
}

.question-footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 4px;
}

.question-footer span {
  padding-left: 16px;
}

.quadrat {
  height: 40px;
  width: 40px;
}

.question-footer button {
  margin-right: 16px;
}

.f-s-32px {
  font-size: 32px;
  font-weight: bolder;
}

.container {
  margin: 64px;
}

.right-answer {
  animation: right 2s !important;
}

@keyframes right {
  0% {
    background-color: #198754;
  }
  25% {
    background-color: white;
  }
  50% {
    background-color: #198754;
  }
  75% {
    background-color: white;
  }
  100% {
    background-color: #198754;
  }
}

.progress-bar-vertical {
  width: 20px;
  float: left;
  display: flex;
  transition: height 225ms ease-in;
  align-items: flex-end;
}

.progress-bar-vertical .progress-bar {
  width: 100%;
  height: 0;
}

.progress {
  border-radius: 0px !important;
  min-width: 20px;
}
.card {
  border-radius: 0px !important;
  min-width: 800px !important;
}
